page-home {    
    .title-container {
        color: #488aff;
        // font-weight: 200;
        display: flex;
        justify-content: center;
        font-size: 2.7rem;

        padding-top: 16px;

        .facil {
            padding-left: 3px;
        }

        .facil {
            font-weight: bolder;
        }
    }
    

    .btn-move-container {
        margin: 3% 0;

        .options-container {
            display: flex;
            justify-content: space-between;
            min-height: 48px;
    
            .options-sub-container {
                display: flex;
    
                > div > button {
                    i {
                        padding: 12px;
                    }
                }
            }

            .config-container {
                .config-content {
                    display: flex;
                    .config-element {
                        display: flex;
                        margin: 1px 20px 0;
                        color: #1962e1;
                        font-weight: 500;

                        i {
                            margin: 5px 0 5px 5px;
                            padding: 8px 0 5px 5px;
                        }
                    }
                }
            }
        }

        .mouse-move-container {
            display: flex;
            margin-top: 3%;

            .btn-mousepointer-container {
                display: block;
                width: 88%;
                height: 300px;
                background: #6a98e9;
                // margin-top: 3%;
                opacity: 1;
            }

            .scroll-container {
                width: 12%;
                background: #9ab8ed;
            }
            
            .btn-arrow-container {
                margin-top: 3%;
                height: 300px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
    
                .btn-top, .btn-middle, .btn-bottom {
                    display: flex;
                    justify-content: center;
                }
            
                .btn-middle {
                    .btn-move-left {
                        margin-right: 60px;
                    }
                }
            }
    
        }

        
    }

    .btn-click-container {
        margin-top: 6%;
        display: flex;
        justify-content: center;

        .btn-click-left {
            margin-right: 10px;
        }

        button {
            min-width: 90px;
        }
    }


}
